html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.unexploded {
  background-image: url(/img/simcity.jpg);
  background-size: 100vw 100vh;
}

.exploded {
  background-image: url(/img/explosion.jpg);
  background-size: 100vw 100vh;
}

.box {
  background: black;
  display: inline-block;
  padding: 25px 25px;
  margin-top: 55px;
}

#timer {
  color: chartreuse;
  font-size: 1.5em;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 10px;
  font-size: 1.1em;
  padding-top: 5px;
  padding-bottom: 5px;
}

#message {
  color: white;
}